#restaurant-setup-wrapper{ ng_hide: '!restaurant_ctrl.restaurant || restaurant_ctrl.restaurant.initialized'}
  = render 'restaurant/setup'

#restaurant-management-wrapper{ ng_show: 'restaurant_ctrl.restaurant.initialized'}
  = render 'restaurant/management'
