#tables-management-wrapper{ ng_controller: 'TablesController as tables_ctrl' }
  .ui.hidden.divider

  .ui.mini.olive.message{ ng_show: 'tables_ctrl.displayable_tables.length == 0' }
    .header You don't have any table yet.
    Click the "+" button below to add one.

  .ui.divider

  #tables-miniatures
    .table-miniatures-item.action{ ng_repeat: 'table in tables_ctrl.displayable_tables' }
      .table-miniature{ ng_class: '{ "available": {{ table.state == "available"  }}}'}
        .table-drawing {{ table.id }}

    .table-miniatures-item.action
      %i.ui.large.plus.icon.add-table-button

    .clear
