.show-consumption-wrapper
  %table.ui.very.compact.definition.table
    %tr
      %td State
      %td {{ consumption_ctrl.consumption.state }}

    %tr
      %td Total Price
      %td {{ consumption_ctrl.consumption.total_price | currency }}

    %tr
      %td Payed Value
      %td {{ consumption_ctrl.consumption.payed_value | currency }}

    %tr
      %td Tip
      %td
        .no-tip{ ng_show: 'consumption_ctrl.consumption.expected_tip == 0' }
          No tip
          %i.ui.purple.frown.icon

        .yes-tip{ ng_show: 'consumption_ctrl.consumption.expected_tip > 0' }
          {{ consumption_ctrl.consumption.expected_tip | currency }}
          %i.ui.green.smile.icon

    %tr
      %td Discount
      %td {{ consumption_ctrl.consumption.expected_discount | currency }}
